<h5>We Remember You</h5>

<form action="<%=users_url%>" method="post">
  <%= auth_token %>
  
  Username
  <input type="text" name="user[username]" value="">
  
  Password
  <input type="password" name="user[password]" value="">
  
  <input type="submit" name="" value="Welcome to the land of Alfreddit">
  
</form>